.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  /* FavouritesList*/
  .favourites-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
  }
  
  .favourites-container h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  
  .favourites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }
  
  .favourites-container p {
    color: #6c757d;
    font-size: 1rem;
  }
  
  /* FavouriteMovie*/
  .favourite-movie {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 240px;
    cursor: pointer;
  }
  
  .favourite-movie img {
    border-radius: 4px;
    height: 320px; /* Set a fixed height */
    object-fit: contain; /* Maintain aspect ratio */
    width: 100%;
  }
  
  .favourite-movie-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .favourite-movie h4 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
  }
  
  .favourite-movie p {
    margin: 0;
  }
  
  .remove-button {
    align-self: flex-end;
    background-color: #ff5555;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease;
  }
  
  .remove-button:hover {
    background-color: #ff2222;
  }
  
  /* SearchMovies */
  .search-movies {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
  
  .search-movies form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    width: 100%;
  }
  
  .search-movies label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .search-movies input {
    background-color: #f0f2f5;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
  }
  
  .search-movies input:focus {
    background-color: #e7e9ec;
    outline: none;
  }
  
  .search-movies button {
    background-color: #0073e6;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    text-align: center;
    width: 100%;
    transition: background-color 0.2s ease;
  }
  
  .search-movies button:hover {
    background-color: #005fb3;
  }
  
  /* modal styles */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    position: relative;
    background-color: #ffffff;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .modal-header {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .modal-title {
    margin: 0;
  }
  
  .modal-content img {
    max-width: 200px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .modal-body p {
    margin: 8px 0;
  }
  
  .modal-body strong {
    font-weight: bold;
    margin-right: 5px;
  }
  